.btn {
  &-primary {
    background-color: var(--tc-c-pink);
  }

  &-secondary {
    background-color: var(--tc-c-white);
  }
}

.elem {
  background-color: white;
}

a {
  color: var(--tc-c-purple) !important;
  // text-decoration: none !important;
  padding: 0 !important;
}


.form-select {
  border-radius: 13px;
  border: 1px solid rgba(61, 61, 61, 0.10);
  box-shadow: none;

  &:hover,
  &:focus,
  &:focus-visible {
    border: 1px solid rgba(61, 61, 61, 0.10) !important;
    box-shadow: none !important;
  }

}

button {
  &:hover {
    transition: 0.3s !important;
  }
}